# Valeurs de configuration de l'importer

# Pour le moment on utilise opendatarchives.fr
# Quand l'IGN fournira des liens http(s) stables on pourra utiliser geoservices.ign.fr

## URL for v1.0
# DOWNLOAD_URL=https://files.opendatarchives.fr/professionnels.ign.fr/parcellaire-express/PCI-par-DEPT_2022-01/

## URL for v1.1 (with regex expression on the files title)
DOWNLOAD_URL=https://files.opendatarchives.fr/professionnels.ign.fr/parcellaire-express/
MAX_PARALLEL_DL=4
TEST_IMPORTER=1 # Test or not

# Valeurs de configuration de la base de données
POSTGRES_VERSION=13
POSTGIS_VERSION=3
POSTGRES_HOST=parcellaire-postgis
POSTGRES_DB=parcellaire-express
POSTGRES_USER=parcellaire
POSTGRES_PASSWORD=password
POSTGRES_SCHEMA=edition211

# Valeurs de configuration de l'API
API_PORT=8010
MAX_FEATURE=1000

